.text-field {
    -fx-background-color: #2c2c2c;
    -fx-text-fill: white;
    -fx-prompt-text-fill: gray;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #444;
}

.button:hover {
    -fx-background-color: #5393ff;
}

.button:pressed {
    -fx-background-color: #1c54b2;
}
